@(listeN : List[sevice.niveau])

@main("niveau liste") {
 <center><h4> <b>N</b>iveau</h4><br></center>
  <table border="1">
  	<thead>
  		<tr>
  			<th style="text-align: center"><b>Niveau<b></b></th>
  			<th style="text-align: center"><b>Montant<b></b></th>
  			<th style="text-align: center" colspan="2"><b>Action<b></b></th>
  			
  		</tr>
  	</thead>
  	<tbody>
  		@for(n <- listeN){
  		<tr>
  			<td>@n.getNiveau()</td>
  			<td>@n.getMontant()</td>
  			
  			<td>
  				 
  				<a class= "btn btn-primary" title="Modification" href="@controllers.routes.niveauCtrl.modifview(n.getId())">modifier</a>
  				<a  class= "btn btn-danger" title="Supprimer" href="@controllers.routes.niveauCtrl.delete(n.getId())">supprimer</a>
  			</td>
  		
  		</tr>
  		
  		}
  	
  	</tbody>
  </table>
}