@(listeE : List[sevice.etudiant])

@main("Etudiant liste") {
 <center><h4> <b>L</b>iste des etudiants</h4><br></center>
  <table border="1">
  	<thead>
  		<tr>
  			<th style="text-align: center"><b>NOM<b></b></th>
  			<th style="text-align: center"><b>Prenom<b></b></th>
  			<th style="text-align: center"><b>Sex<b></b></th>
  			<th style="text-align: center"><b>Date de Naissance<b></b></th>
  			<th style="text-align: center" colspan="2"><b>Action<b></b></th>
  		</tr>
  	</thead>
  	<tbody>
  		@for(e <- listeE){
  		<tr>
  			<td>@e.getNom()</td>
  			<td>@e.getPrenom()</td>
  			<td>@e.getSex()</td>
  			<td> @e.getDaten() </td>
  			<td>
  				 
  				<a class= "btn btn-primary" title="Modification" href="@controllers.routes.etudiantCtrl.modifview(e.getId())">modifier</a>
  				<a  class= "btn btn-danger" title="Supprimer" href="@controllers.routes.etudiantCtrl.delete(e.getId())">supprimer</a>
  			</td>
  		</tr>
  		
  		}
  	
  	</tbody>
  </table>
}
