@import helper._
@(implicit request: Http.Request)

@main("niveau view") {
  <h1>Formulaire d'ajout niveau</h1>
  <br>
  <form method= "POST" action= "@controllers.routes.niveauCtrl.ajouterNiveau()">
  @helper.CSRF.formField
  <label>niveau :</label>
 <input type="text" name="niveau" required="required">
 <br>
 <label>montant :</label>
 <input type="number" name="montant" required="required">

 <br>
 <button type="submit">Enregistrer</button>
 
  </form>
  
  <a href="/listesEtudiant">voir la liste</a>
}