@import helper._
@(implicit request: Http.Request)

@main("Etudiant view") {
  <h1>Formulaire d'ajout etudiant</h1>
  <br>
  <form method= "POST" action= "@controllers.routes.etudiantCtrl.ajouterEtudiant()">
  @helper.CSRF.formField
  <label>Nom :</label>
 <input type="text" name="nom" required="required">
 <br>
 <label>Prenom :</label>
 <input type="text" name="prenom" required="required">
 <br>
 <label>Sexe:</label>
 <input type="text" name="sex" required="required">
 <br>
 <label>date de naissance</label>
 <input type="date" name="daten" required="required"> 
 <br>
 <button type="submit">Enregistrer</button>
 
  </form>
  
  <a href="/listesEtudiant">voir la liste</a>
}
