@import helper._
@(e:sevice.niveau)(implicit request: Http.Request)

@main("Niveau ") {
<div class="pagetitle">
<nav>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door"></i></a></li>
<li class="breadcrumb-item"><a href="#">Niveau</a></li>
<li class="breadcrumb-item"><a href="#">Modifier</a></li>


</ol>
</nav>
</div><!-- End page -->


  <h4 class="card-title">Modifier l'&eacutniveau suivant:</h4>
  <br>
  <div class="basic-form">
  <form class="forms-samle" method= "POST" action= "@controllers.routes.niveauCtrl.updateE()">
  @helper.CSRF.formField
  <input type="hidden" name="id" value="@e.getId()" >
  <div class="form-group">
  <label>Niveau :</label>
 <input type="text" class="form-control" id="niveau" name="niveau" value="@e.getNiveau()" required="required">
 </div>
 <br>
  <div class="form-group">
 <label for="Montant">Montant</label>
 <input type="number" class="form-control" id="montant" name="montant" value="@e.getMontant()" required="required">
 </div>
 <br>

 <br>
 <button type="submit">Modifier</button>
 
  </form>
  
  <a href="/listesEtudiant">voir la liste</a>
}