@import helper._
@(e:sevice.etudiant)(implicit request: Http.Request)

@main("Etudiant ") {
<div class="pagetitle">
<nav>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door"></i></a></li>
<li class="breadcrumb-item"><a href="#">Etudiant</a></li>
<li class="breadcrumb-item"><a href="#">Modifier</a></li>


</ol>
</nav>
</div><!-- End page -->


  <h4 class="card-title">Modifier l'&eacutetudiant suivant:</h4>
  <br>
  <div class="basic-form">
  <form class="forms-samle" method= "POST" action= "@controllers.routes.etudiantCtrl.updateE()">
  @helper.CSRF.formField
  <input type="hidden" name="id" value="@e.getId()" >
  <div class="form-group">
  <label>Nom :</label>
 <input type="text" class="form-control" id="nom" name="nom" value="@e.getNom()" required="required">
 </div>
 <br>
  <div class="form-group">
 <label for="prenom">pr&eacutenom</label>
 <input type="text" class="form-control" id="prenom" name="prenom" value="@e.getPrenom()" required="required">
 </div>
 <br>
 <div class="form-group">
 <label>Sexe:</label>
 <input type="text" name="sex" required="required">
 </div>
 <br>
 <div class="form-group">
 <label>date de naissance</label>
 <input type="date" name="daten" required="required"> 
 </div>
 <br>
 <button type="submit">Modifier</button>
 
  </form>
  
  <a href="/listesEtudiant">voir la liste</a>
}